body{
  background-color:  rgb(255, 255, 255);
}
.p {
  width: 300px;
}
.main-topic {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: 'Rubik Distressed', cursive;
}

.sub-topic {
  font-size: 25px;
  font-weight: bold;
} 
p {
  line-height: 5px;
  font-weight: bold;
}
.image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top ;
}
.image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top ;
}
.para {
  width: 300px;
  line-height: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.div-1 {
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}
.image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top ;
}